.home {
    margin: 0;
    background-image: url("https://cdn.hipwallpaper.com/i/60/69/PlqLJj.jpg");
}
.home1 {
margin: 0;
}


nav {
    background: lightgray;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 15px 20px;
    color: black;
    text-decoration: none;
}

.a {
    display: inline-block;
    right: 2%;
    top: 0%;
    text-decoration: none;
    position: fixed;
}
.bas {
    display: inline-block;
    right: 6%;
    top: 0%;
    text-decoration: none;
    position: fixed;
    font-size: 30px;
    color: black;
}
.b {
    color: black;
    font-size: 30px;
}

.ok a:hover{
    text-decoration: none;
    color: black;
    background: gray;
    margin: 0px;


}
.p {
    margin: 40px;
    padding: 50px;
    font-size: 70px;


}
.r {
    margin-left: 32px;
}
.instagram {
    text-decoration: none;
    font-size: 90px;
    color: black;

}
.instagram:hover{
    color: #C13584;
}
.facebook {
    color: black;
    font-size: 90px;
}
.facebook:hover {
    color: #4267B2;
}
.Robin {
    border: black 5px solid;
    text-align: center;
    border-collapse: collapse;
    font-family: Calibri;
    width: 60%;
    margin: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 98%;
    margin: 20px;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.sad {
    background-image: url("https://f.vividscreen.info/soft/8bac607a898f3967f46c1be747c9f516/Sad-Cat-1920x1080.jpg");
    margin: 0;

}
.basket {
    text-align: center;
    padding: 36%;
    color: lightgray;
    font-family: Brush Script MT;
    font-size: 20px;
}